[Desktop Entry]
Name=Heynote
Exec=/home/evan/Media/Software/Apps/heynote.appimage --no-sandbox
Icon=/home/evan/Chest/Resources/Icons/heynote_icon.png
Terminal=false
Type=Application
Categories=Utility;
